// Link flags for the self-contained static library
OTHER_LDFLAGS = -lstdc++ -framework CoreFoundation -framework Security

// Search paths for the library
LIBRARY_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/TldrAPI

// Header search paths
HEADER_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/TldrAPI $(PROJECT_DIR)/TldrAPI/include \
                       $(PROJECT_DIR)/TldrAPI/include/db \
                       $(SRCROOT)/../../tldr_cpp/src \
                       $(SRCROOT)/../../tldr_cpp/src/lib_tldr

// C++ standard library
CLANG_CXX_LIBRARY = libc++
CLANG_CXX_LANGUAGE_STANDARD = c++20
