[submodule "ref_projects/tinygrad"]
	path = ref_projects/tinygrad
	url = git@github.com:manuhg/tinygrad.git
[submodule "ref_projects/swift-transformers"]
	path = ref_projects/swift-transformers
	url = git@github.com:huggingface/swift-transformers.git
[submodule "ref_projects/swift-chat"]
	path = ref_projects/swift-chat
	url = git@github.com:huggingface/swift-chat.git
[submodule "ref_projects/pgvector"]
	path = ref_projects/pgvector
	url = git@github.com:manuhg/pgvector.git
	branch = v0.8.0
[submodule "ref_projects/ggml"]
	path = ref_projects/ggml
	url = git@github.com:manuhg/ggml.git
[submodule "ref_projects/llama.cpp"]
	path = ref_projects/llama.cpp
	url = git@github.com:manuhg/llama.cpp.git
