[submodule "ref_projects/tinygrad"]
	path = ref_projects/tinygrad
	url = git@github.com:tinygrad/tinygrad.git
[submodule "ref_projects/swift-transformers"]
	path = ref_projects/swift-transformers
	url = git@github.com:huggingface/swift-transformers.git
[submodule "ref_projects/swift-chat"]
	path = ref_projects/swift-chat
	url = git@github.com:huggingface/swift-chat.git
[submodule "ref_projects/pgvector"]
	path = ref_projects/pgvector
	url = git@github.com:pgvector/pgvector.git
	branch = v0.8.0
